:root {
}

.menu-button {
    align-items: flex-start;
    align-self: flex-start;
    width: auto;
    font-size: 32px;
    position: relative;
    -unity-text-auto-size: none;
    -unity-text-generator: advanced;
    aspect-ratio: auto;
    background-image: none;
    background-repeat: no-repeat no-repeat;
    -unity-slice-type: sliced;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right-width: 4px;
    border-top-width: 4px;
    flex-basis: auto;
    flex-grow: 0;
    top: auto;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    text-shadow: 0 0 0 rgb(255, 255, 255);
    height: 32px;
    -unity-text-align: middle-right;
    white-space: nowrap;
    rotate: -10deg;
    transform-origin: left;
    transition-duration: 0.05s;
}

.menu-button:hover {
    translate: 0 0;
    scale: 1.2 1.2;
    -unity-text-outline-color: rgb(255, 255, 255);
    -unity-text-outline-width: 0;
    background-color: rgba(255, 255, 255, 0);
    background-image: none;
    rotate: -10deg;
    -unity-font-style: bold;
    font-size: 32px;
    transition-duration: 0.05s;
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.menu-button:active {
    align-items: flex-start;
    align-self: flex-start;
    width: auto;
    font-size: 32px;
    position: relative;
    -unity-text-auto-size: none;
    -unity-text-generator: standard;
    aspect-ratio: auto;
    background-image: none;
    background-repeat: no-repeat no-repeat;
    -unity-slice-type: sliced;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right-width: 4px;
    border-top-width: 4px;
    flex-basis: auto;
    flex-grow: 0;
    top: auto;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    text-shadow: 0 0 0 rgb(255, 255, 255);
    height: 32px;
    -unity-text-align: middle-right;
    white-space: nowrap;
    rotate: -10deg;
    transform-origin: left;
    transition-duration: 0.05s;
}

.menu-background {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-repeat: no-repeat no-repeat;
    background-size: 100% 100%;
    -unity-slice-type: tiled;
    -unity-slice-scale: 0;
}

.menu-title {
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 100px;
    position: absolute;
    right: 10%;
    bottom: 75%;
    left: 10%;
    top: 5%;
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=2230732570650464555&guid=c51ed4ee338c1674aa24717acc9ccc3b&type=3#NotInter-Regular");
    color: rgb(255, 255, 255);
    font-size: 64px;
    -unity-text-align: upper-center;
}

.menu-button-panel {
    flex-grow: 1;
    right: 50%;
    left: 5%;
    top: 30%;
    width: auto;
    bottom: 5%;
    height: auto;
    min-width: auto;
    min-height: auto;
    position: absolute;
    justify-content: center;
}

.menu-panel {
    flex-grow: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    opacity: 1;
    transition-property: opacity, visibility;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    display: flex;
    visibility: visible;
}
